DATABASE_URL="postgresql://user:pass@localhost:5432/agriloop"
DIRECT_URL="postgresql://user:pass@localhost:5432/agriloop"
NEXTAUTH_SECRET="GANTI_DENGAN_openssl_rand_-base64_32"
NEXTAUTH_URL="http://localhost:3000"
ML_SERVICE_URL="http://localhost:8000"
